@{
    ViewBag.Title = "TWINTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>TRANDING RIGHT NOW</title>
</head>
<body>
    <h3>Welcome!!!</h3>

    <div>

        <!-- User's BIO-->
        <div class="brd" align="left">
            <p>Website: -</p>
            <p>Location: -</p>
            <div class="brd" align="center">
                <p>Birthday:</p>
                <p>01:01:1995 (Only You can see this)</p>
            </div>
            <a href="~/Home/About">Edit</a>
        </div>

    </div>

    <!-- User's image (ordinary user)-->
    <div class="brd">
        <img src="~/Content/RolesDefault/user_default.png" alt="ordinary user" align="left" width="100%" height="100%   />
    </div>

    <hr />

    <div class="brd" align="right">
        <table>
            <tr>
                <th>TRANDING RIGHT NOW!!!</th>
            </tr>
            @{ foreach (var tr in ViewBag.TRANDINGS)
                {
                    <tr>
                        <td>@tr.HashTag</td>
                    </tr>
                }
            }
        </table>
    </div>

    <hr />

    <div class="brd" align="center">
        <table>
            <tr>
                <th>My Twints!!</th>
            </tr>
            @{ foreach (var tr in ViewBag.MyTwints)
                {
                    <tr>
                        <td>@tr.msg</td>
                    </tr>
                }
            }
        </table>
    </div>

    <div>
        <br />End.
    </div>

</body>
</html>