@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twitter Clone</h1>
    <p class="lead">A website designed to clone the backend functionality of twitter. Users can sign up, write and publish tweets, view their tweets and others, and search for different #hastags.</p>
    <p><a href="http://www.twitter.com" class="btn btn-primary btn-lg">See the real thing &raquo;</a></p>
</div>

<div class="row">
    @{
        @*foreach ()
        {
            <div class="col-md-4">
                <h2>TWEET NAME</h2>
                <p>
                    TWEET CONTENT
                </p>
                <p><a class="btn btn-default" href="LINK TO TWEETERS PAGE">TWEETERS NAME &raquo;</a></p>
            </div>
        }*@
    }
</div>