/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-color: aquamarine;
    border-left-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-top-width: medium;
    width: 40%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(2n+1) {
    background-color: #C96377;
}

tr:nth-child(even) {
    background-color: #CD7F8E;
}





/* background color of navabar (custom one) */
.navbar-custom {
    background-color: #B84058;
}
    /* Brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(245, 227, 11, .3);
    }
    /* link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(7, 248, 244,.5);
    }
    /* active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:focus .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #070BF8;
    }
