
@{
    ViewBag.Title = "UserTwintList";
    Layout = "~/Views/Shared/MainAdminLayout.cshtml";
}

<h2>User's Twint List</h2>
<table align="center">
    <tr>
        <td>User_Id</td>
        <td>Twint_Id</td>
    </tr>
    @foreach (var item in ViewBag.UserTwintList)
    {
        <tr>
            <td>@item.User_Id</td>
            <td>@item.Twint_Id</td>
        </tr>
    }
</table>
